lib/
# Unit test / coverage reports
*.py[cod]
/djwechat/djwechat/sae
# Distribution / packaging
# Django stuff:
__pycache__/
# Byte-compiled / optimized / DLL files
pip-log.txt
.env
.webassets-cache
# dotenv
.spyderproject
dist/
*.pot
# Installer logs
# Scrapy stuff:
*,cover
lib64/
env/
.cache
.eggs/
# C extensions
.coverage.*
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
htmlcov/
# virtualenv
*.egg-info/
coverage.xml
.tox/
# IPython Notebook
.Python
#  Usually these files are written by a python script from a template
ENV/
.ropeproject
target/
celerybeat-schedule
nosetests.xml
# Translations
pip-delete-this-directory.txt
# pyenv
*$py.class
*.so
*.manifest
*.mo
parts/
var/
.scrapy
local_settings.py
# Sphinx documentation
.hypothesis/
eggs/
downloads/
# PyBuilder
.python-version
# Flask stuff:
# celery beat schedule file
sdist/
venv/
# Rope project settings
.ipynb_checkpoints
*.egg
# PyInstaller
build/
*.log
develop-eggs/
# Spyder project settings
*.spec
.installed.cfg
.coverage
instance/
docs/_build/